@media screen and (min-width:410px) and (max-width:1024px) {
    .navbar {
        display: flex;
        
        align-items: center;
    }

    .navbar .img-logo {
        margin: 10px 0; /* Centralizar e ajustar o espaço ao redor */
        width: 5rem; /* Definido no JavaScript */
        height: 5rem; /* Definido no JavaScript */
    }

    .navbar .d-flex {
        
        align-items: center;
        width: 100%;
    }

    #navbarProfileBtn, #navbarCartBtn, #navbarLogout {
        width: 10%; /* Botões ocupando 100% da largura */
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    .input-group {
        width: 0px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    .input-group-text {
        background-color: white;
    }

    .banner-image {
        height: 30%;
    }

    .banner-text {
        width: 80%;
    }

    .banner-text h1 {
        font-size: small;
    }

    .banner-text p {
        font-size: small;
    }

    .subtitle {
        font-size: smaller;
    }

    .main h1 {
        font-size: small;
    }

    .card h5 {
        font-size: smaller;
    }

    .card p {
        font-size: smaller;
    }
}

/*@media screen and (min-width:1024px) and (max-width:1366px) {
    #logo-cervejaria {
        width: 15%;
        height: 15%;
    }

    #titulo-cervejaria {
        font-weight: bolder;
        font-size: medium;
    }
}

@media screen and (min-width:1366px) {
    #logo-cervejaria {
        width: 15%;
        height: 15%;
    }

    #titulo-cervejaria {
        font-weight: bolder;
        font-size: large;
    }
}*/