@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.separating-line {
    background-color: #a19f9f;
    height: 1px;
    width: 100%;
}

.w-10 {
    width: 3vw;
}

.body-login {
    background-color: rgb(226, 224, 224);
}

.img-logo {
    height: 150px;
    width: 170px;
}

.banner-image {
    width: 100%;
    background-image: url("https://www.lojamuseudagula.com.br/media/upload/ckeditor/2020/05/15/2020-05-15-post-mdg-virt-artesanal.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 60%;
    height: 7rem;
}

.banner-text h1 {
    font-size: 30px;
    font-weight: bold;
}

.banner-text p {
    font-size: larger;
}

.cart-img {
    height: 11rem;
    width: 13rem;
}

.payment-receipt {
    display: flex;
    width: 100vw;
}

.payment-infos {
    display: flex;
    width: 100vw;
}

.hover {
    cursor:pointer;
    color: red;
}